html,
body {
  height: 100%;
}

div[tabindex='-1'] {
  height: 100%;
}

.account-item {
  position: relative;
  display: inline-block;
  margin-right: 16px;
}

.account-item .account-unbind svg {
  position: absolute;
  top: -3px;
  right: -3px;

  display: none;

  border: 1px solid #999;
  border-radius: 50%;

  background: #fff;

  cursor: pointer;
}

.account-item:hover .account-unbind svg {
  display: block;
}

.account-item.github a path,
.account-item.twitter circle,
.account-item.facebook a path,
.account-item.weibo circle,
.account-item.qq a path {
  fill: #808080;
}

.social-accounts a #google {
	--color-1: #4285F4;
  --color-2: #4285F4;
  --color-3: #FBBC05;
  --color-4: #EB4335;
}

.account-item.google:hover a #google,
.account-item.google.bind a #google {
	--color-1: #4285F4;
  --color-2: #4285F4;
  --color-3: #FBBC05;
  --color-4: #EB4335;
}

.account-item.shinigami:hover a #shinigami,
.account-item.shinigami.bind a #shinigami {
	--color-shinigami-1: #000;
  --color-shinigami-2: #fff;
}

.account-item.github:hover a path,
.account-item.github.bind a path {
  fill: #1b1f23;
}

.account-item.twitter:hover circle,
.account-item.twitter.bind circle {
  fill: #2daae1;
}

.account-item.facebook:hover a path,
.account-item.facebook.bind a path {
  fill: #1877f2;
}

.account-item.weibo:hover circle,
.account-item.weibo.bind circle {
  fill: #d34237;
}

.account-item.qq:hover a path,
.account-item.qq.bind a path {
  fill: #259be0;
}

// remain for historical reasons
.vemoji,
.wl-emoji {
  display: inline-block;
  vertical-align: middle;
  width: 1.3rem;
  margin: 0.25rem;
}

.social-accounts a + a {
  margin-left: 16px;
}

.upgrade-tips {
  padding: 0 10px;
  border-bottom: 1px solid rgb(212 167 44 / 40%);

  background: #fff8c5;
  color: #24292f;

  line-height: 36px;
}

.cropt-container .cr-boundary  {
	width: 300px;
	height: 300px;
	margin: 0 0 0 0;
}

.cropt-container .cr-slider-wrap {
	width: 300px;
	margin: 15px 0;
}
